@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  list-style-type: none;
  
}






header{
    margin-top: 2em;
}
a {
  text-decoration: none;
  list-style-type: none;
  font-family: sans-serif;
  color: blue;
  font-weight: 700px;
}
header a {
  text-decoration: none;
  /* color: #fff; */
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

header .container {
  /* position: fixed; */
  transition: 0.6s;
}
header ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 4.25em;
  font-family: sans-serif;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  color: #001336;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
}
/* HOVER TEXT */
ul li a:hover {
  /* background-color: rgb(255, 255, 255); */
  color: #001336;
  border: solid 1px #001336;
  font-family: sans-serif;
  font-weight: 600;
  padding: 0.4em;
  transition: 0.7s;
  border-radius: 0.4rem;
}

/* HOVER TEXT TWO */
ul li a:active {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: solid 1px #001336;
  font-family: sans-serif;
  font-weight: 600;
  padding: 0.4em;
  transition: 0.4s;
}

/* Hover End Up */

header li[active] {
  font-weight: 600;
  font-family: sans-serif;
  /* background: var(
      --gradient2,
      linear-gradient(90deg, #00c3ff 0%, #00ff2f 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

header button {
  position: absolute;
  right: 0;
  left: 55em;
  /* top: 0; */
  background-color: transparent;
  border: none;
  top: 0.9em;
  cursor: pointer;
  transition: 0.3s;
}


/* RESPONSIVE NAVBAR  */

.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
}

@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: #fff;
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }
}

.container{
    text-align: center;
}
/* MEDIA NAVBAR RESPONSIVE */
















